Numero: <input type="text" id="caixaNumero"/>
Seu nome: <input type="text" id="nomeUsuario"/>

<input type="submit" id="botaoSegredo" value="Ok"/>

<script type="text/javascript">

    var segredo = [16, 34, 37, 42, 50, 58];

    var botaoSegredo = document.getElementById("botaoSegredo");

     var nomeUsuario = document.getElementById("nomeUsuario").value;

    botaoSegredo.onclick = botaoClicado;

    function botaoClicado(){

        var numeroDigitado = document.getElementById("caixaNumero").value;

        for(var i = 0; i < segredo.length; i++){

            if(segredo[i] == numeroDigitado){
                alert("Parabéns "+ nomeUsuario +", você acertou! " + segredo);
                return;
            }
        }

        alert("Voce errou!");
    }





</script>

