<canvas id="tela" width="600" height="400"></canvas>

<script>

var tela = document.getElementById("tela");

var c = tela.getContext("2d");

c.fillStyle = "green";
c.fillRect(0, 0, 200, 400);

c.fillStyle = "red";
c.fillRect(400, 0, 200, 400);
</script>
